#carrito{


    width: 400px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

}

.vinosProperty{

    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

}