<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Vino y se Fue | Contacto</title>
</head>
<body>


    <div class = "contenedor">

        <h1>Quienes somos ?</h1>
        
        <p>
            Vino y se fue es una empresa dedicada a la venta de vinos y licores.
            de primera calidad</p>
        <p> Nuestra intención es poder brindarte una experiencia única otorgando los mejores vinos del mercado a todo el país </p>
        <p>
            Nuestra empresa está ubicada en la ciudad de Quilmes, provincia de Buenos Aires, Argentina.</p>
    <p>Contacto: www.vinoysefue.com.ar</p>

   <p>Whatsapp: +54 9 11-564-8-8-8 : </p>

   <p>Instagram :</p> 

   <p>Facebook :</p>

   <p>MercadoLibre :</p> 

    </div>
    
</body>
</html>