<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | PasswordReset</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body">
    <div>
        <a href="/"><img src="images/logo.png" alt="logo"></a>
    </div>
    <div>
        <h1>Recuperá tu cuenta</h1>
    </div>
    <div class="form">
        <form action="/passwordReset" method="post">
            <div>
                <label for="">Ingresá tu correo electrónico</label>
                <input type="email" name="email" required>
            </div>
           
            <div class="btn">
                <button type="submit">Enviar</button>
                <button type="reset">Cancelar</button>
            </div>
           
        </form>
    </div>
</body>

</html>