<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | PasswordReset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/passwordReset.css">
</head>

<body class="body-log">

    <figure class="logo-im">
        <a href="/"><img src="/images/imagen-logo.png" alt="logo" class="logo-img"></a>
    </figure>

    <h1 class="body-log-h2">Recuperá tu cuenta</h1>

    <div >
        <form action="" method="post" class="form-log">
            <div>
                <label class="form-label" for="email"  >Ingresá tu correo electrónico</label>
                <input class="form-input" type="email" name="email" id="email" required>
            </div>

            <div class="btn-reg">
                <button class="btn-reg-button" type="submit"><a href="/" class="btn-reg-button-a">Enviar</a></button>
                <button class="btn-reg-button" type="reset">Cancelar</button>
            </div>

        </form>
    </div>
</body>

</html>