<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | Carrito de compras</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>

<header>
    <div id="header">
        <img src="/images/imagen-logo.png" alt="Logo">
        <form action="">
            <input type="text">
            <button>Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </div>
   </header>
<body>


    <h1>Mi carrito</h1>

    <div class="cart">
      
        <div></div>



        </div>
        
    


    

    
   <!-- Un botón que contenga una referencia hacia el carro de 
    compras implementado en todo el html de las diferentes secciones

Por lo general se implementa abajo a la derecha este botón

Como cliente quiero poder modificar productos del carrito 
para poder eliminarlos de la compra o modificar la cantidad

Entregable:Archivo productCart.html (o similar)
 juntocon todos los recursos
necesarios, estilos de CSS e imágenes.-->


    <!--Me gustaria que acepte mercado pago ademas de los pagos tradicionales  .-->


    <footer>
        <div id="footer">
            <img src="/images/imagen-logo.png" alt="Logo">
            <nav>
                <ul><a href="/quienesSomos">Quienes somos</a></ul>
                <ul><a href="#">Nuestras Redes Sociales</a></ul>
                <ul><a href="#">Contacto</a></ul>
            </nav>
        </div>
        <p>Powered by Grupo 8</p>
       </footer>


</body>
</html>