<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | Carrito de compras</title>
    <link rel="stylesheet" href="/public/productCart.css">
</head>

<header>


    <div class="header_principal">

        <div class="header_principal_logo">
            <img src="/images/logo.png" alt="sin imagen">
        </div>

        <div class="header_principal_buscador">
            <input type="Buscar..." id="Buscar..." placeholder="Buscar..." />
            <button><span class="icon"><i class="fa fa-search"></i></span></button>
        </div>

        <div class="header_principal_iconos">

            <div class="header_principal_burger_menu">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div class="header_principal_sesion_carrito">

                <ul type="none">
                    <div class="iconos">
                        <div>
                            <button>
                                <i class="fa-solid fa-user"></i>
                                <li><a href="/login">Iniciar sesion</a></li>
                            </button>
                        </div>
                        <div>
                            <button>
                                <i class="fa-solid fa-cart-shopping"></i>
                                <li><a href="/productCart">Mi Carrito</a></li>
                            </button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

    </div>

    <div class="header_principal_menu">
        <nav>
            <ul type="none" class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/productDetail">Catalogo</a></li>
                <li><a href="/quienesSomos.html">Mas</a></li>
            </ul>
        </nav>
    </div>


</header>
<body>


    <h1>Mi carrito</h1>

    <div class="cart">
      
        <div></div>



        </div>
        
    


    

    
   <!-- Un botón que contenga una referencia hacia el carro de 
    compras implementado en todo el html de las diferentes secciones

Por lo general se implementa abajo a la derecha este botón

Como cliente quiero poder modificar productos del carrito 
para poder eliminarlos de la compra o modificar la cantidad

Entregable:Archivo productCart.html (o similar)
 juntocon todos los recursos
necesarios, estilos de CSS e imágenes.-->


    <!--Me gustaria que acepte mercado pago ademas de los pagos tradicionales  .-->




</body>
</html>