<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | Carrito de compras</title>
    <link rel="stylesheet" href="/public/productCart.css">
</head>

<header>

    

    
     

</header>
<body>


    <h1>Carrito de compras</h1>


    <img src = "public/img/Vino sucesion abel michel torino tinto 700 cc.jpg" class = "vinosProperty">
    

    
   <!-- Un botón que contenga una referencia hacia el carro de 
    compras implementado en todo el html de las diferentes secciones

Por lo general se implementa abajo a la derecha este botón

Como cliente quiero poder modificar productos del carrito 
para poder eliminarlos de la compra o modificar la cantidad

Entregable:Archivo productCart.html (o similar)
 juntocon todos los recursos
necesarios, estilos de CSS e imágenes.-->


    <!--Me gustaria que acepte mercado pago ademas de los pagos tradicionales  .-->




</body>
</html>