<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel = "stylesheet" href = "/css/styles.css">
    <title>Vino y Se Fue | Quienes Somos</title>
</head>

<header>
    <div id="header">
        <img src="/images/imagen-logo.png" alt="Logo">
        <form action="">
            <input type="text">
            <button>Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </div>
   </header>

<body>
    

    <div class="quienes-somos">
       
       <h1> Quienes Somos : </h1> 

       <div> Vino y se fue es una empresa dedicada a la venta de vinos y licores.
        de primera calidad
    </div>

        <div>Nuestra intención es brindarte una experiencia única , con los precios más accesibles
        </div>
        

       
    </div>

    <footer>

        <ul id = "color">
    
    
            <li><a href = "https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue" > Contacto</a></li>
            
            <li><a href = "https:/web.whatsapp.com" > WhatsApp</a></li>
        
            <li><a href = "https://instagram.com" > Instagram</a></li>
        
            <li><a href = "https://mercadolibre.com.ar" > Mercadolibre</a></li>
        
    </ul>


    </footer>

</body>
</html>