<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/register.css"> 
    
    <title>Vino y Se Fue | Registro</title>
</head>





<!--

<header>

    <div id="header">
        <img src="/images/imagen-logo.png" alt="Logo">
        <form action="">
            <input type="text">
            <button>Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </div>
   </header>

   -->

<body class>


        <div class="registroForm" >
            <form action="" class="form">
              <h1 class="title">Registrarse</h1>
        
              <div class="inputContainer"> 
                <input type="text" class="input" placeholder="a" >
               
                <label class="label">Nombre</label>
              </div>
        
        
              <div class="inputContainer">
               
                <input type="text" class="input" placeholder="a" >
                <label class="label">Apellido</label>
              </div>
        
              <div class="inputContainer">   
                <input type="text" class="input" placeholder="a" >
                <label class="label">Mail</label>
              </div>
        
              <div class="inputContainer">
                    <input type="text" class="input" placeholder="a" >
                    <label  class="label">Contraseña</label>
               </div>
        
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" >
                <label class="label">Repetir Contraseña</label>
              </div>

              <input type="submit" class="submitBtn" value="Registrarse">
              <input type="reset" class="submitBtn" value="Iniciar sesion">
              
            </form>
          </div>



          <!--
    <footer>
        <div id="footer">
            <img src="/images/imagen-logo.png" alt="Logo">
            <nav>
                <ul><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Quienes somos</a></ul>
                <ul><a href="#">Nuestras Redes Sociales</a></ul>
                <ul><a href="#">Contacto</a></ul>
            </nav>
        </div>
        <p>Powered by Grupo 8</p>
       </footer>
    -->

</body>
</html>