.form input{
    width: 96.5%;
    height: 18px;
}

.btn{
    display:flex;
    justify-content:end;
    padding: 10px 0px;
    border: 5px;
    gap: 10px;
}


.btn button{
   
    border: none;
    border-radius: 5px;
    background-color: rgb(99,107,121);
    padding: 5px 15px;
    color: white;
    font-size: 14px;
}