/*CAMBIOS GENERALES*/
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 686px;
    margin: 0px;
}

header {
    width: 100%;
}

main {
    width: 100%;
}

footer {
    width: 100%;
    height: 286px;
    background-color: #471619
}

/*HEADER*/

.header_principal {
    background-color: #2b2b2b;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header_principal_logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header_principal_buscador input {
    width: 120px;
    height: 20px;
    outline: none;
    border: 1px black solid;
    border-radius: 3px;
    margin: 5px;
}

.header_principal_buscador button {
    padding: 1px;
    margin-left: -24px;
    background: white;
    border: none;
}

.header_principal_menu {
    display: none;
}

.header_principal_burger_menu {
    margin-top: 16px;
}

.header_principal_sesion_carrito ul {
    padding: 0px;
}

.header_principal_iconos {
    display: flex;
    flex-direction: row;

}

.header_principal_iconos button {
    color: white;
    width: 35px;
    height: 35px;
    margin: 1px;
    background-color: #2b2b2b;
    border: none;
    padding: 2px;
}

.iconos {
    display: flex;
    flex-direction: row;
}

.iconos i {
    color: white;
    font-size: 12px;
    margin-bottom: 3px;
}

.iconos li {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 8px;
    text-align: center;
}

/*AVISO*/

.aviso {
    width: 320px;
    height: 100px;
}

.aviso img {
    width: 320px;
    height: 100px;
}

/*MAIN*/

.main_principal {

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    background-image: url("/images/Banner.webp");
    background-size: 600px;
    background-position: center;

}

.contenedor_izquierdo {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_izquierdo_foto img {
    width: 220px;
    height: 260px;
    border-radius: 2%;
}

.contenedor_izquierdo_fotos_2 {
    display: flex;
    flex-direction: row;
}

.contenedor_izquierdo_fotos_2 img {
    width: 80px;
    height: 90px;
    padding: 0px 4px;
    border-radius: 3%;
}


.contenedor_derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor_derecho_superior {
    text-align: center;
}

.contenedor_derecho_superior .nombre {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    margin: 8px;
}

.contenedor_derecho_superior h2 {
    color: white;
    font-size: 20px;
    margin: 8px;
}

.contenedor_derecho_superior p {
    color: white;
    font-size: 10px;
    margin: 10px;
}

.contenedor_derecho_superior p input {
    width: 50px;
    height: 10px;
}


.contenedor_derecho_inferior {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px white solid;
}

.contenedor_derecho_inferior button {
    background-color: transparent;
    margin-top: 5px;
    width: 100px;
    border: white;
    padding: 0px;
}

.contenedor_derecho_inferior button p {
    color: white;
    margin: 1px;
    font-size: 11px;
}

.descripcion {
    display: none;
}

.contenedor_derecho_inferior_iconos_2 {
    display: flex;
    flex-direction: row;
}

.contenedor_derecho_inferior_iconos_2 ul {
    padding: 0px;
}

.contenedor_derecho_inferior_iconos_2 ul li {
    color: white;
    font-size: 11px;
    padding-left: 25px;
    padding-bottom: 14px;
}

.contenedor_derecho_inferior_iconos_2 p {
    color: white;
    font-size: 11px;
    margin: 15px 5px 0px 0px;
    padding-left: 25px;
    text-align: center;
}

.cotenedor_derecho_final {
    margin-left: 49px;
}

.cotenedor_derecho_final button {
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
}


/*FOOTER*/

.footer_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.footer_principal ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer_principal li h6 {
    letter-spacing: 1px;
    color: white;
    font-size: 10px;
    margin: 10px 5px 1px 5px;
}

.footer_principal li p {
    color: white;
    font-size: 10px;
    margin: 1px;
}

.advertencia p {
    color: white;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-size: 8px;
    text-align: center;
}

.derechos_de_autor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px white solid;
}

.derechos_de_autor p {
    color: white;
    font-size: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.derecho_1 {
    margin-left: 5px;
}

.derecho_2 {
    margin-right: 4px;
}

@media (min-width: 768px) {
    header {

        height: 100px;
        background-color: #2b2b2b
    }

    body {

        height: 686px;
    }

    main {

        height: 850px;
        background-image: url("/images/Banner.webp");
        background-size: 768px;
    }


    /*HEADER*/

    .header_principal {
        height: 100px;
    }

    .header_principal_logo {
        height: 100px;
    }

    .header_principal_logo img {
        width: 100px;
        height: 100px;
    }

    .header_principal_buscador input {
        width: 450px;
    }

    /*aviso*/

    .aviso {
        width: 768px;
        height: 167px;
        margin: 0px;
    }

    .aviso img {
        width: 100%;
        height: 167px;
    }

    /*MAIN*/

    .main_principal {
        width: 435px;
        height: 654px;
        background-image: none;
        background-color: #2b2b2b;
        opacity: 0.9;
        margin-top: 10px;
        margin-left: 150px;
    }

    .contenedor_izquierdo_foto img {
        width: 230px;
    }
}

@media (min-width: 1024px) {
    header {

        height: 130px;
        background-color: #2b2b2b
    }

    body {
        height: 942px;
    }

    main {
        height: 1100px;
        background-image: url("/images/Banner.webp");
        background-size: 1024px;
    }

   

    /*HEADER*/

    .header_principal {
        height: 100px;
    }

    .header_principal_logo {
        height: 100px;
    }

    .header_principal_logo img {
        width: 100px;
        height: 100px;
    }

    .header_principal_buscador input {
        width: 558px;
        height: 23px;
    }

    .header_principal_burger_menu {
        display: none;
    }

    .header_principal_iconos {
        justify-content: space-around;
    }

    .header_principal_iconos button {
        margin-right: 35px;
        margin-left: 15px;
    }

    .iconos i {
        font-size: 25px;
    }

    .header_principal_menu {
        display: block;
    }

    .header_principal_menu ul {
        margin: 0px;
        padding: 4px 0px 0px 0px;
    }

    .menu {
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu li a {
        color: white;
        padding: 0px 50px 0px 0px;
    }

    /*aviso*/

    .aviso {
        width: 1024px;
        height: 230px;
        margin: 0px;
    }

    .aviso img {

        width: 100%;
        height: 230px;
    }

    /*main*/

    .main_principal {
        width: 770px;
        height: 614px;
        flex-direction: row;
        justify-content: space-around;
        background-image: none;
        background-size: 800px;
        margin: 128px auto;
        padding-left: 36px;
        padding-top: 0px;
    }

    .contenedor_izquierdo {
        opacity: 1.0;
        justify-content: space-around;
    }

    .contenedor_izquierdo_foto img {
        width: 318px;
        height: 403px;
    }

    .contenedor_izquierdo_fotos_2 img {
        width: 80px;
        height: 100px;
        padding-top: 8px;
    }

    .contenedor_derecho {
        opacity: 1.0;
    }

    .contenedor_derecho_superior .nombre {
        font-size: 50px;
        color: white;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    .contenedor_derecho_superior h2 {
        margin-top: 0px;
        padding-bottom: 10px;
        font-size: 30px;
        color: white;
    }

    .contenedor_derecho_superior p {
        font-size: 20px;
        color: white;
    }

    .contenedor_derecho_superior p input {
        width: 55px;
        height: 15px;
    }

    .contenedor_derecho_inferior button {
        background-color: transparent;
    }

    .contenedor_derecho_inferior .descripcion {
        text-align: right;
    }

    .contenedor_derecho_inferior button p {
        font-size: 12px;
        color: white;
    }

    .descripcion {
        display: none;
    }

    .contenedor_derecho_inferior_iconos_2 ul {
        color: white;
    }

    .contenedor_derecho_inferior_iconos_2 ul li {
        font-size: 16px;
    }

    .contenedor_derecho_inferior_iconos_2 p {
        font-size: 16px;
        color: white;
    }

    .cotenedor_derecho_final {
        margin-top: 30px;
        margin-left: 90px;
    }

    .cotenedor_derecho_final button {
        margin-bottom: 1px;
        padding: 5px;
        background-color: white
    }

    .footer_principal {
        height: 220px;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer_principal li h6 {
        font-size: 20px;
        margin: 0px 0px 10px 0px
    }

    .footer_principal li p {
        font-size: 18px;
    }

    .advertencia p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .derechos_de_autor p {
        font-size: 12px;
    }
}