* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(143, 121, 55);

}


/* ---------------- SECCION HEADER ----------------------- */

header {
    border: 5px solid black;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Banner.webp");
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header img {
    width: 110px;
}

#header input {
    width: 120px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

#header button {
    border: 1px solid black;
    border-radius: 10px;
    font-family: "roboto";
    font-weight: bold;
    padding: 3px;
}



.header-nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header-nav a {
    color: azure;
    font-family: "open sans";
    text-decoration: none;
}

#welcome-img img {
    width: 100%;
    margin-top: 20px;
    border: 5px solid black;
}

h1 {
    color: azure;
    text-align: center;
    font-family: "open sans";
}



/* ------------ SECCION LOGICA DE NEGOCIO -------------------- */

.main-products {
    
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Banner.webp");
    background-attachment: fixed;
    border: 12px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.descripcion{
    margin-left: 280px;
    margin-right:280px;
}

.main-products img {
    width: 100%;
    border: 2px solid black;
}

.main-products h2 {
    font-family: "open sans";
    text-align: center;
    text-decoration: underline;
    color: azure;
}

.main-products p {
    text-align: center;
    font-family: "open sans";
    color: azure;
}

.main-products form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.main-products button {
    border-radius: 12px;
    border: 2px solid black;
    width: 200px;
}

.main-products a {
    color: black;
    text-decoration: none;
    font-family: "open sans";
    font-weight: bold;
}


/*--------------- SECCION FOOTER ----------------*/

footer {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/VinoYSeFue.jpg");
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#footer img {
    margin-left: 16px;
}

#footer ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 30px;
}

#footer a {
    text-decoration: none;
    color: azure;
    font-family: "roboto";
}

footer p {
    font-family: "roboto";
    font-size: 8px;
    margin-bottom: 10px;
    color: azure;
}

@media (min-width: 768px) {
    #header form {
        margin: 50px
    }

    #header input {
        width: 380px;
    }

    .main-products {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Banner.webp");
        background-attachment: fixed;
        border: 12px solid black;
    }

    .main-products img {
        width: 50%;
        margin-left: 25%;
        margin-top: 30px;
    }
}

@media (min-width:1024px) {
    
    #header input {
        width: 500px;
    }
}