.login{
    background-image: url('/images/fondo-login.jpg');
        /*  background-attachment: fixed; */
         background-size: cover;
     background-repeat: no-repeat;
     background-position: center 15vh;
}

.login__main {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}