/*HEADER*/

header {
    
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header img {
    width: 110px;
}

#header input {
    width: 120px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

#header button {
    border: 1px solid black;
    border-radius: 10px;
    font-family: "roboto";
    font-weight: bold;
    padding: 3px;
}



.header-nav ul {
    display: flex;
    justify-content: space-around;
    padding:0px;
    margin-bottom: 0px;
}


.header-nav a {
    color: azure;
    font-family: "open sans";
    text-decoration: none;
}

#welcome-img img {
    width: 100%;
    margin-top: 5px;
    
}

.main_body{
    margin-top: 100px;
    margin-bottom: 100px;
}
.body-log {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("/images/Banner.webp");
    margin: 0;
    color: #ccc;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
   
}
.logo-im{
    width: 180px;
    height: 180px;
    margin: 0px;   
    display: inline-block;  
}
.logo-img{
    width: 90%;  
}
.body-log-h1{
    font-family: roboto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
   
}

.form-log {
    display: flex;
    margin: auto;
    width: 290px;
    height: 240px;
    font-size: 14px;
    flex-direction: column;
    padding: 10px;
   
}

.checkbox-log {
    width: 303px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

}
.checkbox-label{
    display: flex;
    position: relative;
    top: 6px;
    font-family: roboto;
    padding: 2px;

}
.checkbox-input{
   position: relative;
   bottom: 3px;
}

.checkbox-buttom{
    border: none;
    border-radius: 5px;
    background-color:  rgb(99,107,121);
    padding: 5px 23px;
    color: white;
    position: relative;
    right: 12px;
    transition: all 450ms;

}
.checkbox-buttom:hover{
    background-color: rgb(30, 27, 36);

}
.checkbox-buttom-a {
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
    color: white;
   
}

.form-label {
    
    float: left;
    padding: 2px;
    font-family: roboto;
}

.form-a{
    text-decoration: none;
    float: right;
    color: #ccc;
    font-size: 14px;
    padding: 2px;
    font-family: roboto;
    
   
}
.form-input {
    width: 95.5%;
    outline: none;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 14px;
}
.register-log{
   
    padding-bottom: 20px;
}
.register-p{
    display: flex;   
    justify-content: space-between;
    padding-top: 20px;
    font-family: roboto;
    
}

.register-btn {
    border: none;
    border-radius: 5px;
    background-color: rgb(99,107,121);
    padding: 5px 15px;
    color: white;   
    position: relative;
    left: 0px;
    bottom: 5px;
    transition: all 450ms;
}
.register-btn:hover {
    background-color: rgb(30, 27, 36);
}
.register-a {
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
    color: white;
   
}


/*footer*/
footer {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/VinoYSeFue.jpg");
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#footer img {
    margin-left: 16px;
}

#footer ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 30px;
}

#footer a {
    text-decoration: none;
    color: azure;
    font-family: "roboto";
}

footer p {
    font-family: "roboto";
    font-size: 8px;
    margin-bottom: 10px;
    color: azure;
}



