.body-log {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("/images/Banner.webp");
    margin: 0;
    color: #ccc;
    text-align: center;
    padding-bottom: 50px;
   
}
.logo-im{
    width: 180px;
    height: 180px;
    margin: 0px;   
    display: inline-block;  
}
.logo-img{
    width: 90%;  
}
.body-log-h2{
    font-family: roboto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
}
.form-log {
    display: flex;
    margin: auto;
    width: 290px;
    height: 240px;
    font-size: 14px;
    flex-direction: column;
    padding: 10px;
    
}

.form-label {
    
    float: left;
    padding: 2px;
    font-family: roboto;
}
.form-input {
    width: 95.5%;
    outline: none;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 14px;
}

.btn-reg{
    display:flex;
    justify-content:end;
    padding: 10px 0px;
    border: 5px;
    gap: 10px;
}


.btn-reg-button{
   
    border: none;
    border-radius: 5px;
    background-color: rgb(99,107,121);
    padding: 5px 15px;
    color: white;
    transition: all 450ms;
    
}
.btn-reg-button:hover{
    background-color: rgb(30, 27, 36);

}
.btn-reg-button-a{
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
    color: white;
    
}