.detail{
    background-image: url('/images/fondo-detail.jpg');
/*     background-attachment: fixed;
 */    background-size: cover;
 background-repeat: no-repeat;
 background-position: center 15vh;
    
}

.detail__main {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    max-width: 650px;
}

.detail__main__btn--cart a {
    color: darkred;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   
}

.detail__main--descripcion {
    font-family: 'Kalam';
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 40vh; */
    /* -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent); */
}


.detail h2 {
    font-family: 'Kalam', cursive;
    font-size: 36px;
}

.detail h3 {
    font-size: 40px;
    text-align: end;
}

@media (min-width:1024px){
    .detail__main {
      margin: 0 100px 0;
    }
}