.profile{
    background-image: url('/images/fondo-profile.jpg');
         background-attachment: fixed;
         background-size: cover;
     background-repeat: no-repeat;
}
.profile__main {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.profile__main--imagen {
    width: 150px;
    margin: 0 auto;
 
}

.profile__main--imagen img{
    border-radius: 50%;
}