<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
   <main>
        <div id="welcome-img">
            <img src="/images/banner-inicio.png" alt="">
        </div>
        <h1>Nuestros productos</h1>
        <div class="main-products">
            <img src="/images/agala.jpeg" alt="Agala">
            <h2>Agala</h2>
            <p>"Es un vino que expresa muy bien el objetivo que persiguen con estos vinos, ya que tiene una nariz fragante y floral, con gran expresión de frutos del bosque y notas algo balsámicas. Su boca es de cuerpo medio y refrescante, frutal en su recorrido y deja para el final unos toques minerales y ciertos recuerdos a hierbas aromáticas."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/anima-negra.jpeg" alt="Anima negra">
            <h2>Anima Negra</h2>
            <p>"Se expresa a su manera, ya sin complejos, ligero y delicado en cuerpo y en color, muy frutal y floral en nariz, sorprendente elegante y complejo en boca, con muchos frutos rojos, más notas florales y amplios especiados."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/cadalso.jpeg" alt="Cadalso">
            <h2>Cadalso</h2>
            <p>"Un vino que te apetece tomar con la mente abierta, sin patrones preconcebidos. Aromático, con notas a ciruela pasa, violetas y especias como el clavo y la pimienta negra. Enamora con el paso en boca, con sus característicos toques minerales y el tanino amable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/castillo.jpeg" alt="Castillo">
            <h2>Castillo</h2>
            <p>"Un vino con carácter de territorio, lleno de frutas rojas maduras, profundidad de tierra y un toque de violetas. El paladar no es masivo pero está ligado con firmeza por su carácter ígneo y una calidad remarcable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/do-conca.jpeg" alt="Do Conca">
            <h2>Do Conca</h2>
            <p>"Un vino con carácter de territorio, lleno de frutas rojas maduras, profundidad de tierra y un toque de violetas. El paladar no es masivo pero está ligado con firmeza por su carácter ígneo y una calidad remarcable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/lava.jpeg" alt="Lava">
            <h2>Lava</h2>
            <p>"Un vino con carácter de territorio, lleno de frutas rojas maduras, profundidad de tierra y un toque de violetas. El paladar no es masivo pero está ligado con firmeza por su carácter ígneo y una calidad remarcable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/loba.jpeg" alt="Loba">
            <h2>Loba</h2>
            <p>"Un vino con carácter de territorio, lleno de frutas rojas maduras, profundidad de tierra y un toque de violetas. El paladar no es masivo pero está ligado con firmeza por su carácter ígneo y una calidad remarcable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
            
            <img src="/images/Terrerazo.jpeg" alt="Terrerazo">
            <h2>Terrerazo</h2>
            <p>"Un vino con carácter de territorio, lleno de frutas rojas maduras, profundidad de tierra y un toque de violetas. El paladar no es masivo pero está ligado con firmeza por su carácter ígneo y una calidad remarcable."</p>
            <form action="">
                <button><a href="/products/productDetail">Comprar</a></button>
            </form>
        </div>
   </main>
   
   <%- include('./partials/footer') %> 

</body>
</html>