<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')%> 

<body class="body-log">

    <%- include('./partials/header') %> 
    <%- include('./partials/baner') %> 


    <h1 class="body-log-h2">Recuperá tu cuenta</h1>

    <div >
        <form action="" method="post" class="form-log">
            <div>
                <label class="form-label" for="email" >Ingresá tu correo electrónico</label>
                <input class="form-input" type="email" name="email" id="email" required>
            </div>

            <div class="btn-reg">
                <button class="btn-reg-button" type="submit"><a href="/" class="btn-reg-button-a">Enviar</a></button>
                <button class="btn-reg-button" type="reset">Cancelar</button>
            </div>

        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>