<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="C:\Users\Vero\Desktop\proyecto-final\public\css\quienesSomos.css">
    <title>Vino y Se Fue | Quienes Somos</title>
</head>

<header>
    <div id="header">
        <img src="/images/imagen-logo.png" alt="Logo">
        <form action="">
            <input type="text">
            <button>Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </div>
   </header>

<body>
    
    <div class = "contenedor">

        <h1>Quienes somos ?</h1>
      


        <p>
            Vino y se fue es una empresa dedicada a la venta de vinos y licores.
            de primera calidad</p>

        
        <p> Nuestra intención es poder brindarte una experiencia única otorgando los mejores vinos del mercado a todo el país </p>

        <p>
            Nuestra empresa está ubicada en la ciudad de Quilmes, provincia de Buenos Aires, Argentina.</p>



        
    </div>    
</body>
</html>