<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vino y Se Fue | Registrarse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/register.css"> 
</head>
    
<header>

        <div id="header">
            
                <img src="/images/imagen-logo.png" alt="Logo">
            
            <form action="">
                <input type="text">
                <button>Buscar...</button>
            </form>
        </div>
        <div class="header-nav">
            <nav>
                <ul type="none">
                    <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                    <li><a href="/products/cart">Carrito</a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Registro</a></li>
                </ul>
            </nav>
        </div>
</header>


<body>


        <div class="registroForm">


            <form action="" class="form">

                
              <h1 class="title">Registrarse</h1>
        
                    <div class="inputContainer"> 
                        <input type="text" class="input" placeholder="a" >
                        <label class="label">Nombre</label>
                    </div>
        
        
                    <div class="inputContainer">
                        <input type="text" class="input" placeholder="a" >
                        <label class="label">Apellido</label>
                    </div>
        
                    <div class="inputContainer">   
                        <input type="text" class="input" placeholder="a" >
                        <label class="label">Mail</label>
                    </div>
        
                    <div class="inputContainer">
                        <input type="text" class="input" placeholder="a" >
                        <label  class="label">Contraseña</label>
                    </div>
        
                    <div class="inputContainer">
                        <input type="text" class="input" placeholder="a" >
                        <label class="label">Repetir Contraseña</label>
                    </div>


                    <!-- FALTA AGREGAR EL BOTON DE INICIAR SESION EN CASO DE TENER YA UNA CUENTA-->
                    <div class="inputContainer" >
                        <input type="submit" id="btnRegister" value="Registrarse">
                        <a  href ='/users/login'>¿Ya tiene una cuenta?</a>
                    </div>

                </form>

          </div>



                   
</body>



<footer>
    <div id="footer">
        
        <nav>
            <ul><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Quienes somos</a></ul>
            <ul><a href="#">Nuestras Redes Sociales</a></ul>
            <ul><a href="#">Contacto</a></ul>
        </nav>
    </div>
    <p>Powered by Grupo 8</p>
</footer>




</html>