<footer>
    <div id="footer">
        <img src="/images/imagen-logo.png" alt="Logo">
        <nav>
            <ul><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Quienes somos</a></ul>
            <ul><a href="#">Nuestras Redes Sociales</a></ul>
            <ul><a href="#">Contacto</a></ul>
        </nav>
    </div>
    <p>Powered by Grupo 8</p>
</footer>