<footer class="footer">
    <section class="footer__section">
        <img class="footer__section__logo" src="/images/imagen-logo.png" alt="Logo">
        <nav class="footer__section__nav">
            <ul>
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Quienes somos</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="footer__section__nav--redes">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
           
        </nav>
    </section>
     <hr>  
    <p class="m-0 text-center text-white">Powered by Grupo 8</p>
</footer>