<header class="header">
        
        <a href="/"><img class="header__logo" src="/images/imagen-logo.png" alt="Logo"></a>
        <button class="header__btn--menu btn btn-outline-light mb-3" onclick="document.querySelector('.header__form').classList.toggle('show'); document.querySelector('.header__nav').classList.toggle('show');"><i class="fas fa-bars"></i></button>
        
        <div class="header__form">
            <form action="/search" method="get" class="header__form">
                <input type="text" name="keywords" class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <ul class="d-flex justify-content-between mt-2">
                <li><a href="#destacados">Destacados</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#variedades">Variedades</a></li>
            </ul>
        </div>
      

        <nav class="header__nav mt-md-5">
            <ul class="header__nav--menu">

               <% if (locals.userLogin) { %>
                    <li><a href="/users/profile">Hola <%= locals.userLogin.firstname %> !</a></li>
                    <li> <a href="" id="btn-cart" data-bs-toggle="modal" data-bs-target="#cartModal">Mi carrito</a></li>
                    <li><a href="/users/logout">Salir</a></li>

                <% }else {%>
                    <li><a href="/users/register">Registrate</a></li>
                    <li><a href="/users/login">Login</a></li>            
                <% } %>
               
            </ul>
           
        </nav>
       
    <%- include('./modalCart') %> 

</header>
