<header>
    <div id="header">
        
        <a href="/"><img src="/images/imagen-logo.png" alt="Logo"></a>
        
        <form action="/search" method="get">
            <input type="text" name="keywords">
            <button type="submit">Buscar...</button>
        </form>
    </div>
    <div class="header-nav">

        <nav>
            <ul type="none">

               <% if (locals.userLogin) { %>
                    <li><a href="/users/profile">Hola <%= locals.userLogin.firstname %> !</a></li>
                    <li id="btn-cart"><button type="button" class="btn fs-4" data-bs-toggle="modal" data-bs-target="#cartModal">Mi carrito</i></button></li>
                    
                    <% if (locals.userLogin.rolId === 1){ %>                       
                        <li><a href="/products/create">Nuevo Producto</a></li>                       
                    <% } %>

                    <li><a href="/users/logout">Salir</a></li>

                <% }else {%>
                    <li><a href="/users/register">Registrate</a></li>
                    <li><a href="/users/login">Login</a></li>            
                <% } %>
               
            </ul>
        </nav>
    </div>
    <%- include('./modalCart') %> 

</header>