<header>
    <div id="header">
        
            <img src="/images/imagen-logo.png" alt="Logo">
        
        <form action="">
            <input type="text">
            <button>Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">
                <li><a href="https://github.com/Cristian-Ariel-Tolaba/Grupo_8_VinoYSeFue">Redes sociales</a></li>
                <li><a href="/products/productCart">Carrito</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registro</a></li>
            </ul>
        </nav>
    </div>
   </header>