<header>
    <div id="header">
        
        <a href="/"><img src="/images/imagen-logo.png" alt="Logo"></a>
        
        <form action="/search" method="get">
            <input type="text" name="keywords">
            <button type="submit">Buscar...</button>
        </form>
    </div>
    <div class="header-nav">
        <nav>
            <ul type="none">

               <% if (locals.userLogin) { %>
                    <li><a href="/users/profile">Hola <%= locals.userLogin.firstname %> !</a></li>
                    <li><a href="/products/cart">Mi Carrito</a></li>
                    <li><a href="/users/logout">Salir</a></li>
                    <% if (locals.userLogin.rol === "admin"){ %>
                        <li><a href="/products/create">Nuevo Producto</a></li>
                        
                    <% } %>

                <% }else {%>
                    <li><a href="/users/register">Registrate</a></li>
                    <li><a href="/users/login">Login</a></li>            
                <% } %>
               
            </ul>
        </nav>
    </div>
</header>